<section class="about-container">
    <div id="about" class="about">
        <div class="about-inner">
            <h2>About Cody</h2>
            <p>
                Software Engineer currently doing R&D at Jack Henry and Associates. Most spare time is spent hacking
                on side projects with <a style="color: white" href="http://justshipped.io" target="_blank">JustShipped</a> or contributing to various FOSS projects.
            </p>
            <p>Here are a few technologies I&apos;ve been working with recently</p>
            <div class="skills">
                <ul>
                    <li>Svelte</li>
                    <li>React</li>
                    <li>AngularJS</li>
                    <li>Vanilla JS</li>
                </ul>
                <ul>
                    <li>Kotlin</li>
                    <li>Go</li>
                    <li>NodeJS</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portrait">
        <img class="me" src="assets/images/cody.png" alt="A picture of me Cody Mikol, very exciting stuff!">
        <p class="rotated-link">I don’t look this<br/> serious in real life</p>
        <img class="rotated-link smile-boi" src="assets/images/white-smile.svg" alt="Have a wonderful day c:">
    </div>
</section>