<style>

    .about-container {
        color: white;
        position: relative;
        margin-top: 148px;
        display: flex;
        flex-direction: row;
        background-color: #13AA52;
        width: 100%;
        min-height: 666px;
        max-width: 100%;
    }

    .about-container > div {
        width: 50%;
    }

    .about {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .about * h2 {
        margin-top: 120px;
        font-family: var(--code-font);
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 60px;
    }

    .about * p {
        font-family: var(--code-font);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
    }

    .about * li {
        font-family: var(--code-font);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin: 6px;
    }

    .about * ul {
        padding: 0;
        width: 50%;
    }

    .about-inner {
        max-width: 500px;
        padding: 0 40px;
    }

    .portrait {
        position: relative;
    }

    .me {
        position: absolute;
        top: -39px;
        max-width: calc(100% - 40px);
        margin: 20px;
        left: 0;
    }

    .smile-boi {
        color: white;
        position: absolute;
        bottom: 147px;
        right: 30px;
    }

    .skills {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .portrait p {
        position: absolute;
        bottom: 75px;
        right: 84px;
        color: white;
    }

    @media  screen and (max-width: 981px) {

        .about * h2 {
            margin-top: 60px;
        }

        .about-inner {
            padding: 12px;
        }

        .about-container {
            flex-direction: column;
        }

        .about-container > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .me {
            position: relative;
            max-width: calc(100% - 40px);
            top: unset;
            left: unset;
        }

        p.rotated-link {
            position: relative;
            bottom: unset;
            left: unset;
            right: unset;
        }

        .smile-boi {
            position: relative;
            left: unset;
            bottom: unset;
            right: unset;
        }

        .skills {
            margin-left: 20px;
            width: calc(100% - 20px);
        }

    }
</style>

<section class="about-container">
    <div id="about" class="about">
        <div class="about-inner">
            <h2>About Cody</h2>
            <p>
                Software Engineer currently doing R&D at Jack Henry and Associates. Most spare time is spent hacking
                on side projects with <a style="color: white" href="http://justshipped.io" target="_blank">JustShipped</a> or contributing to various FOSS projects.
            </p>
            <p>Here are a few technologies I&apos;ve been working with recently</p>
            <div class="skills">
                <ul>
                    <li>Vue</li>
                    <li>React</li>
                    <li>Svelte</li>
                    <li>AngularJS</li>
                </ul>
                <ul>
                    <li>Kotlin</li>
                    <li>NodeJS</li>
                    <li>Java</li>
                    <li>Go</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portrait">
        <img class="me" src="assets/images/cody.png" alt="A picture of me Cody Mikol, very exciting stuff!">
        <div style="display: flex;">
            <p class="rotated-link">I don’t look this<br/> serious in real life</p>
            &nbsp;&nbsp;&nbsp;<img class="rotated-link smile-boi" src="assets/images/white-smile.svg" alt="Have a wonderful day c:">
        </div>
    </div>
</section>
