<section class="footer">
    <div style="display: flex; flex-direction: row">
        <p class="get-in-touch rotated-link">Get in touch</p>
        <img src="assets/images/arrow.svg" style="transform: translate(15px, -22px);"
             alt="Its an arrow pointing at me, how exciting is that?">
    </div>
    <div class="bottom-container">
        <div class="contact-icon-container">
            <div>
                <a href="https://www.linkedin.com/in/cody-mikol-684a32b3/" target="_blank">
                    <button>{% include '../partials/icons/_linkedin' %}</button>
                </a>
                <a href="https://github.com/codymikol" target="_blank">
                    <button>{% include '../partials/icons/_github' %}</button>
                </a>
                <a href="mailto:codymikol@gmail.com" target="_blank">
                    <button>{% include '../partials/icons/_mail' %}</button>
                </a>
            </div>
        </div>
        <p class="copyright">© 2020 Cody Mikol. All rights reserved.</p>
    </div>
</section>