<style>
    section.footer {
        display: flex;
        flex-direction: column;
        height: 376px;
        align-items: center;
    }
    .bottom-container {
        height: 85px;
        margin-bottom: 60px;
        margin-top: 98px;
    }

    .contact-icon-container {
        display: flex;
        justify-content: center;
    }

    .contact-icon-container * button {
        background: none;
        border: none;
        margin: 0 22px 0 22px;
        padding: 0;
        cursor: pointer;
        outline: none;
        fill: #13AA52;
    }

    .contact-icon-container * a {
        text-decoration: none;
    }

    .contact-icon-container * path {
        fill: #828282;
    }

    .contact-icon-container * button:hover * path {
        fill: #13AA52;
    }

    .contact-icon-container * button:active * path {
        fill: #13c051;
    }
    .get-in-touch {
        margin-top: 56px;
    }
    .copyright {
        font-family: var(--code-font);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #828282
    }
    @media screen and (max-width: 768px) {
        .copyright {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }
</style>

<section class="footer">
    <div style="display: flex; flex-direction: row">
        <p class="get-in-touch rotated-link">Get in touch</p>
        <img src="assets/images/arrow.svg" style="transform: translate(15px, -22px);"
             alt="Its an arrow pointing at me, how exciting is that?">
    </div>
    <div class="bottom-container">
        <div class="contact-icon-container">
            <div>
                <a href="https://www.linkedin.com/in/cody-mikol-684a32b3/" target="_blank">
                    <button>{% include '../partials/icons/_linkedin' %}</button>
                </a>
                <a href="https://github.com/codymikol" target="_blank">
                    <button>{% include '../partials/icons/_github' %}</button>
                </a>
                <a href="mailto:codymikol@gmail.com" target="_blank">
                    <button>{% include '../partials/icons/_mail' %}</button>
                </a>
            </div>
        </div>
        <p class="copyright">©&nbsp;2020&nbsp;Cody&nbsp;Mikol. All&nbsp;rights&nbsp;reserved.</p>
    </div>
</section>