<nav>
    <div class="formatted-name">
        { <img src="assets/images/smile.svg" alt="Have a wonderful day c:"> }
    </div>
    <div>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <!-- <a>Contact</a> -->
    </div>
</nav>