{% model 'work' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cody Mikol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <style>

        :root {
            --code-font: JetBrains Mono, 'Courier New';
            --handwritten-font: Caveat, cursive;
            --dark-color: #363F39;
            --primary-color: #30B484;
            --gray-shade-1: #828282;
        }

        @font-face {
            font-family: "JetBrains Mono";
            src: url("/font/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Regular.eot");
            src: url("/font/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff") format("woff");
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
        }

        main {
            margin-top: 108px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main > div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 17px;
        }

        main > * {
            max-width: 1040px;
        }

        main > p {
            font-family: JetBrains Mono, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
            margin: 0 20px 0 20px;
        }

        .rotated-link {
            font-family: var(--handwritten-font);
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 48px;
            cursor: pointer;
            /*text-decoration-line: underline;*/
            color: #13AA52;
            transform: rotate(-8deg);
        }

        @media  screen and (max-width: 768px) {

            main {
                margin-top: 40px;
            }

            main > div {
                justify-content: center;
            }

            .rotated-link {
                font-size: 36px;
                line-height: 48px;
            }
        }

    </style>

</head>
<body>

{% include '../partials/_header' %}

<main>
    {% include '../partials/_intro' %}
    {% include '../partials/_work' %}
    {% include '../partials/_about' %}
    {% include '../partials/_footer' %}
</main>

</body>
</html>
