{% model 'work' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cody Mikol</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <style>

        :root {
            --code-font: JetBrains Mono, 'Courier New';
            --handwritten-font: Caveat, cursive;
            --dark-color: #363F39;
            --primary-color: #30B484;
            --gray-shade-1: #828282;
        }

        @font-face {
            font-family: "JetBrains Mono";
            src: url("/font/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Regular.eot");
            src: url("/font/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff") format("woff");
        }

        body {
            margin: 0;
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 72px;
        }

        nav * a,a:visited {
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-right: 40px;
            text-decoration: none;
            color: black;
        }

        nav * a:last-child {
            margin-right: 80px;
        }

        nav * a:active,a:hover {
            color: #13AA52;
            text-decoration: underline;
        }

        .formatted-name {
            color: var(--gray-shade-1);
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 29px;
            line-height: 29px;
            text-align: center;
            margin: 21px 0 22px 40px;
            display: flex;
            align-items: center;
        }

        .formatted-name > img {
            margin: 8px;
        }

        main {
            margin-top: 108px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main > div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 17px;
        }

        main > * {
            max-width: 1040px;
        }

        main > p {
            font-family: JetBrains Mono, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
            margin: 0 20px 0 20px;
        }

        .rotated-link {
            font-family: var(--handwritten-font);
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 48px;
            text-decoration-line: underline;
            color: #13AA52;
            transform: rotate(-8deg);
        }

        .project-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 80px 100px 0 80px;
            max-width: 1404px;
        }

        .project * img {
            width: 100%;
            margin-top: 42px;
        }

        .project {
            width: calc(50% - 80px);
            margin: 0 40px 0 40px;
            display: flex;
            flex-direction: column;
        }

        .project > h2 {
            text-align: center;
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 42px;
            margin: 16px 0 8px 0;
            padding: 0;
        }

        .project > p {
            text-align: center;
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            color: #13AA52;
            margin: 8px 0 0 0;
            padding: 0;
        }

        .about-container {
            color: white;
            position: relative;
            margin-top: 148px;
            display: flex;
            flex-direction: row;
            background-color: #13AA52;
            width: 100%;
            min-height: 666px;
            max-width: 100%;
        }

        .about-container > div {
            width: 50%;
        }

        .about {
            display: flex;
            justify-content: center;
            text-align: left;
        }

        .about * h2 {
            margin-top: 120px;
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
        }

        .about * p {
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
        }

        .about * li {
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            margin: 6px;
        }

        .about * ul {
            padding: 0;
            width: 50%;
        }

        .about-inner {
            max-width: 500px;
        }

        .portrait {
            position: relative;
        }

        .me {
            position: absolute;
            top: -39px;
            left: 0;
        }

        .smile-boi {
            color: white;
            position: absolute;
            bottom: 147px;
            left: 464px;
        }

        .skills {
            display: flex;
            flex-direction: row;
        }

        section.footer {
            display: flex;
            flex-direction: column;
            height: 376px;
            align-items: center;
        }

        .portrait p {
            position: absolute;
            bottom: 75px;
            left: 165px;
            color: white;
        }

        .copyright {
            font-family: var(--code-font);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #828282
        }

        .get-in-touch {
            margin-top: 56px;
        }

        .bottom-container {
            height: 85px;
            margin-bottom: 60px;
            margin-top: 98px;
        }

        .contact-icon-container {
            display: flex;
            justify-content: center;
        }

        .contact-icon-container * button {
            background: none;
            border: none;
            margin: 0 22px 0 22px;
            padding: 0;
            cursor: pointer;
            outline: none;
            fill: #13AA52;
        }

        .contact-icon-container * a {
            text-decoration: none;
        }

        .contact-icon-container * path {
            fill: #828282;
        }

        .contact-icon-container * button:hover * path {
            fill: #13AA52;
        }

        .contact-icon-container * button:active * path {
            fill: #13c051;
        }

    </style>

</head>
<body>

{% include '../partials/_header' %}

<main>
    {% include '../partials/_intro' %}
    {% include '../partials/_work' %}
    {% include '../partials/_about' %}
    {% include '../partials/_footer' %}
</main>

</body>
</html>